<%- include('header') %>
<style>
    #registerIndex {
        background-color: #08142d;
        padding: 5% 2%;
    }

    form {
        padding: 1% 1%;
        border-radius: 5px;
        width: auto;
    }
    label {
        margin-top: 0.5%;
    }

    input {
        width: auto;
        margin-bottom: 2%;
    }

    button {
        margin-top: 15px;
        padding: 10px 15px;
        cursor: pointer;
    }
    .hidden {
        display: none;
    }
    #contactForm, #RegisterForm {
        background-color: #f9f9f9;
        padding: 1% 1%;
        border-radius: 5px;
        width: auto;
    }

    .text-danger {
        margin-left: 5%;
    }
    #newFormContainer {
        display: none;
    }
</style>

<!-- Log In Start -->
<div class="container-fluid py-5" id="main-container" style = " <% if (typeof register !== 'undefined') { %> <%= register ? 'display: none;' : 'display: block;' %> <% } %> ">
    <div class="container py-5">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Log In</h6>
            <h1>Join the Project!</h1>
        </div>
        <% if (typeof error !== 'undefined') { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if (typeof message !== 'undefined') { %>
            <div class="alert alert-success" role="alert">
                <%= message %>
            </div>
        <% } %>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-form bg-white" style="padding: 2%;">
                    <div id="success"></div>
                    <!-- FORM -->
                    <form name="sentLogIn" action="/login/loginClient" method="POST" id="contactForm" novalidate="novalidate">
                        <div class="form-row">
                            <div class="control-group col-sm-6">
                                <input type="email" class="form-control p-4" name="email" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group col-sm-6">
                                <input type="password" class="form-control p-4" id="passwd" name="passwd" placeholder="Password" required="required" data-validation-required-message="Please enter your password" />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary py-3 px-4" type="submit" id="submitLoginButton">Log In</button>
                        </div>
                    </form>
                </div>
                <!-- Button to show the registration form -->
                <div class="text-center mt-4">
                    <button class="btn btn-secondary py-3 px-4" id="showNewFormBtn">Don't have an account? Register here!</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Log In End -->

<!-- Registration Form -->
<div class="container-fluid py-5" id="newFormContainer" style="
    <% if (typeof register !== 'undefined') { %>
        <%= register ? 'display: block;' : 'display: none;' %>
    <% } %>
    ">
    <div class="container py-5">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Registration</h6>
            <h1>Create an account on CashMe</h1>
        </div>
        <% if (typeof error !== 'undefined') { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if (typeof message !== 'undefined') { %>
            <div class="alert alert-success" role="alert">
                <%= message %>
            </div>
        <% } %>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-form bg-white" style="padding: 2%;">
                    <form id="RegisterForm" action="/login/registerClient" method="POST">
                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="newName" name="name" placeholder="Name" required>
                            <p class="help-block text-danger" id="nameError" style="display: none;"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control p-4" id="newEmail" name="email" placeholder="Email" required>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="password" class="form-control p-4" id="newPassword" name="password" placeholder="Password" required>
                            <p class="help-block text-danger"></p>
                        </div>
                        <!-- Checkbox for Admin -->
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="adminCheckbox" name="isAdmin">
                            <label class="form-check-label" for="adminCheckbox">Register as Admin</label>
                        </div>
                        <!-- Hidden Admin Key Field -->
                        <div class="control-group hidden" id="adminKeyContainer">
                            <input type="password" class="form-control p-4" id="adminKey" name="adminKey" placeholder="Admin Key">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary py-3 px-4" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-secondary py-3 px-4" type="button" id="hideNewFormBtn">Already have an account? Log in here</button>
                </div>
                <script src="/public/javascript/validateRegister.js"></script>
            </div>
        </div>
    </div>
</div>


<script>
    const mainContainer = document.getElementById('main-container');
    const newFormContainer = document.getElementById('newFormContainer');
    const showNewFormBtn = document.getElementById('showNewFormBtn');
    const hideNewFormBtn = document.getElementById('hideNewFormBtn');
    const registerForm = document.getElementById('RegisterForm');
    const loginForm = document.forms['sentLogIn'];

    registerForm.addEventListener('submit', function(event) {
        let isValid = true;
        const name = document.getElementById('newName');
        const email = document.getElementById('newEmail');
        const password = document.getElementById('newPassword');
        const nameError = document.getElementById('nameError');
        const emailError = email.nextElementSibling;
        const passwordError = password.nextElementSibling;

        // Validar nombre (al menos dos palabras)
        if (!name.value || name.value.split(/\s+/).length < 2) {
            nameError.textContent = "Please enter your full name (at least two words).";
            nameError.style.display = 'block';
            isValid = false;
        } else {
            nameError.style.display = 'none';
        }

        // Validar email
        if (!email.value) {
            emailError.textContent = "Please enter your email.";
            emailError.style.display = 'block';
            isValid = false;
        } else if (!/\S+@\S+\.\S+/.test(email.value)) {
            emailError.textContent = "Please enter a valid email.";
            emailError.style.display = 'block';
            isValid = false;
        } else {
            emailError.style.display = 'none';
        }

        // Validar contraseña (al menos un número)
        if (!password.value) {
            passwordError.textContent = "Please enter your password.";
            passwordError.style.display = 'block';
            isValid = false;
        } else if (!/\d/.test(password.value)) {
            passwordError.textContent = "Password must contain at least one number.";
            passwordError.style.display = 'block';
            isValid = false;
        } else {
            passwordError.style.display = 'none';
        }

        if (!isValid) {
            event.preventDefault(); // Evita el envío si hay errores
        }
    });


    // Show the login form and hide the register form
    showNewFormBtn.addEventListener('click', function() {
        mainContainer.style.display = 'none';
        newFormContainer.style.display = 'block';
    });

    // Hide the register form and show the login form
    hideNewFormBtn.addEventListener('click', function() {
        newFormContainer.style.display = 'none';
        mainContainer.style.display = 'block';
    });

    loginForm.addEventListener('submit', function(event) {
        // Remove the preventDefault to allow form submission
    });


    // Admin
    const adminCheckbox = document.getElementById('adminCheckbox');
    const adminKeyContainer = document.getElementById('adminKeyContainer');

    // Show or hide admin key field based on checkbox
    adminCheckbox.addEventListener('change', function() {
        if (this.checked) {
            adminKeyContainer.classList.remove('hidden');
        } else {
            adminKeyContainer.classList.add('hidden');
        }
    });
</script>

<%- include('footer') %>
